Source: ros-groovy-bride
Section: misc
Priority: extra
Maintainer: Alexander Bubeck <aub@ipa.fraunhofer.de>
Build-Depends: debhelper (>= 7.0.50~), ros-groovy-catkin, ros-groovy-rospack
Homepage: http://ros.org/wiki/bride
Standards-Version: 3.9.2

Package: ros-groovy-bride
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, 
Description: installer.py installs a full eclipse installation in this package. Additionally CDT and the BRIDE plugins will be installed. After rosmake you have the full model driven engineering tool chain accessible inside this package.
